{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "ArrayItemRemoval": false,
        "InstanceOf_": false,
        "MethodCallRemoval": false,
        "UnwrapArrayMap": false,
        "Yield_": false,
        "YieldValue": false
    }
}
